html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: var(--bg-primary, #f9fafc);
  font-family: Inter, 'Segoe UI', Arial, sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  color: var(--text-primary, #222);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
